/*.Navigation{
    align-items: center;
    list-style-type: none;
    padding: 0;
    display: inline;
}*/
.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.Navigation li {
    float: left;
    border-right: 1px solid #bbb;
}
.Navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 15px;
}
.Navigation-Bar-2 ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:green;
    color:black;
    text-align:center;
}
.Navigation-Bar-2 li {
    float: left;
    border-right: 1px solid #bbb;
}

.Navigation-Bar-2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-size:20px;
}
/* Change the link color to #111 (black) on hover */
.Navigation li a:hover {
    background-color: #111;
} 
.Navigation-Bar-2 li a:hover{
    background-color: orange;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.palmsprings{
    width: 400px;
    height: 300px;
    float: right;
}
header {
  padding: 20px 0;
}
.col-sm-8{
    font-family:'Roboto',sans-serif;
    padding-right: 30px;
    font-size: 40px;
    float:right;
    
}
.Gallery{
    width:600px;
    height:500px;
    margin:20px;
}
.Gallery-2{
    width:400px;
    height:500px;
    margin:20px;
}
.Gallery-3{
    width:400px;
    height:500px;
    margin:5px;
}
.Hotel{
    width:600px;
    height:500px;
    margin:20px;
}
.Hotel2{
    width:400px;
    height:500px;
    margin:20px;
}
.Hotel3{
    width:400px;
    height:500px;
    margin:20px;
}
.Architecture{
    width:400px;
    height:500px;
    margin:20px;
}
.Architecture-2{
    width:400px;
    height:500px;
    margin:20px;
}
h2{
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size:40px;
    text-align: center;
}
h3{
    font-family:'Roboto',sans-serif;
    font-size:40px;
    text-align: center;
    font-weight:400;
}
h4{
    font-family: 'Roboto',sans-serif;
    font-size:40px;
    font-weight:400;
    text-align:center;
}
p{
    border:dashed 1px;
    font-size:16px;
    text-align: left;
    padding: 5px;
}
h5{
   font-family: 'Roboto',sans-serif;
    font-size:40px;
    font-weight:400;
    text-align:center; 
}
a{
    text-decoration: none;
    padding: 8px 16px;
}
a:hover{
    color:orange;
}
.previous {
    background-color: yellow;
    color: black;
    position: absolute;
    top: 2390px;
    right: 120px;
    font-size: 18px;
}

.next {
    background-color: yellow;
    color: black;
      position: absolute;
    top: 2390px;
    right: 30px;
    font-size: 18px;
}
.DineRestaurant{
    display: flex;
    font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.EventCenter{
    display: flex;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
}
.Name-1{
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    color:red;
    font-size:30px;
}
.Name-2{
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    color:red;
    font-size:30px;
}
.Name-3{
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    color:red;
    font-size:30px;
}
.birba{
    width:800px;
    height:500px;
    margin:20px;
    float:inherit;
    display: list-item;
}
.Eight{
     width:800px;
    height:500px;
    margin:20px;
    float:inherit;
    display: list-item;
}
.lascasuelas{
     width:800px;
    height:500px;
    margin:20px;
    float: inherit;
    display: list-item;
}
.previous-2 {
    background-color: yellow;
    color: black;
    position: absolute;
    top: 4270px;
    right: 120px;
    font-size: 18px;
}

.next-2 {
    background-color: yellow;
    color: black;
      position: absolute;
    top: 4270px;
    right: 30px;
    font-size: 18px;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://cech.uc.edu/it/jcr:content/MainContent/image_3/image.img.jpg/1486664612310.');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-secondary {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: green;
}

.btn.btn-secondary:hover {
  color: #ffffff;
  background-color: orange;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}